%top{
    position: relative;
    
    margin: auto;

}

#hey{

    
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #c7c8c9;
    border-radius: 24px;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    position: relative;
    top: 100px;
}

#hey:hover{

    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.CcAdNb{

    margin: auto;

}

.QCzoEc{

    color: #9aa0a6;

} 

.z1asCe{

    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

#theDiv{
@extend %top;
    width: 80%;
    border:none;
    height: 30px;
    font-size: 17px;
   
}

#theDiv:focus{

    outline:none;

}

#heading2{

    margin: 0 auto;
    position: relative;
    top:100px;
    text-align: center;

}


#hello{

    position: relative;
    top:130px;
    text-align: center;
    
}

#ello{

    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
#ello:hover{

    background-color: #c7c8c9;
   

}

.hh1{
    color: #4487f6;
    font-size: large;
    position: relative;
    left: 110px;
    top:-25px;
    
}

h5{

    position: relative;
    left: 70%;
    color: #4487f6;
    padding-right: 10px;

}

h5:hover{

    text-decoration: underline;
    color:rgb(59, 59, 249);
    cursor: pointer;
}

a{
    text-decoration: none;
}

